
*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    height: 100vh;
    width: 100vw;
} 


body {
   
    background: radial-gradient(#333, #111);
    font-family: 'indie Flower', cursive; 
    font-size: 20px;
    color: white;
}

.designCanvas,
.controls1, 
.controls2,
.controls3, 
#play, 
#time, 
#score,
.gameTitle {
  
    display: flex;
    justify-content: center;
    align-items: center;
   
  
}

.gameTitle {
    
    margin: 20px;
}

#canvas { 
    /* this width makes the canvas responsive */
    max-width: 50%;
  
    border: solid 1px  rgb(40, 6, 230);
}


#play,
#left,
#up,
#right,
#down  {
    margin: 2px;
    font-family: 'indie Flower', cursive; 
    padding: 28px 28px;
    border: none;
    border-radius: 50%;
    font-size: 25px;
    color: white; 
    background: rgb(41, 6, 243);
   letter-spacing: 3px;
    box-shadow: 0 5px 50px 0 rgb(40, 4, 240) inset;
    
}
#play {
    margin: 0 auto;
}
h1,
#play { 
    color:  #09f071;   
}

h1 { 
    font-size: 60px; 

}
@media only screen and (min-width: 200px) {
    #play,
    #left,
    #up,
    #right,
    #down {
        padding: 8px 8px;
    } 
    h1 {
        font-size: 35px;
    }

}






